.root {
  display: grid;
  place-items: center center;
  font-weight: 600;
  height: 2rem;
  width: 2rem;
  background-color: unset;
  border-radius: unset;
  line-height: 0.5;
  // font-size: 8px;
  color: #dddddd;
  border-color: #dddddd;
  font-family: "Segoe UI Emoji";
}
