.root {
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
  padding: 1rem;
}

.base {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  text-align: center;
}
