.root {
  @media (min-width: 1440px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 320px;
  }
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: calc(100vh - 51px);
}
