* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
  color: #888888;
  background-color: #dddddd;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  padding: 0.5rem;
  white-space: nowrap;
  max-width: 220px;
  width: 100%;
  &.purple {
    color: #ffffff;
    border-color: #8d44ea;
    background-color: #8d44ea;
    &.outline {
      color: #8d44ea;
      background-color: transparent;
    }
  }
  &.red {
    color: #ffffff;
    background-color: #ea4444;
    border-color: #ea4444;
    &.outline {
      color: #ea4444;
      background-color: transparent;
    }
  }
  &.small {
    width: auto;
  }
}

.small {
  font-size: 14px;
}

input {
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
  max-width: 220px;
  width: 100%;
  font-size: 16px;
  padding: 0.5rem;
  &::placeholder {
    color: #dddddd;
  }
  &[type="color"] {
    appearance: none;
    border: unset;
    height: 2rem;
    overflow: hidden;
    padding: 0;
    width: 2rem;
    &::-webkit-color-swatch {
      border: 1px solid #dddddd;
      border-radius: 0.5rem;
    }
    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }
}
